# Estruturas de Dados com Pandas
Prof. Fernando Amaral

In [1]:
import pandas as pd
# cria dicionário
dict = { 'a' : 3, 'b' : 'cat', 'c': 25}
# converte dicionário para  uma séries do pandas
# series e estrutura de dados, qualquer tipo,  indexada - chave/valor
pd.Series(dict)

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.3.0 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
    app.start()
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 736, in start
    self.io_loop.start()
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\asyncio\base_events.py", line 607, in run_forever
    self._run_once()
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\asyncio\base_events.py", line 1922, in _run_once
    handle._run()
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 516, in dispatch_queue
    await self.process_one()
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 505, in process_one
    await dispatch(*args)
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 412, in dispatch_shell
    await result
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 740, in execute_request
    reply_content = await reply_content
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 422, in do_execute
    res = shell.run_cell(
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 546, in run_cell
    return super().run_cell(*args, **kwargs)
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3024, in run_cell
    result = self._run_cell(
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3079, in _run_cell
    result = runner(coro)
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3284, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3466, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3526, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\lucas.souza\AppData\Local\Temp\ipykernel_1584\172467757.py", line 1, in <module>
    import pandas as pd
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\array.py", line 50, in <module>
    from pandas.core import (
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\pandas\core\ops\__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\pandas\core\ops\array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\pandas\core\computation\expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\pandas\core\computation\check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "c:\Users\lucas.souza\AppData\Local\anaconda3\Lib\site-packages\numexpr\__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

a      3
b    cat
c     25
dtype: object

In [2]:
#Aqui, outra Série é criada, mas desta vez passamos duas listas 
#Uma para os dados e outra para os índices. Os índices são rótulos para cada valor de dados.
oneD = pd.Series([100, 'cat', 310, 'gog', 500], ['Amy', 'Bobby', 'Cat', 'Don', 'Emma'])
oneD

Amy      100
Bobby    cat
Cat      310
Don      gog
Emma     500
dtype: object

In [3]:
oneD = pd.Series([100, 'cat', 310, 'gog', 500], index = ['Amy', 'Bobby', 'Cat', 'Don', 'Emma'])
oneD

Amy      100
Bobby    cat
Cat      310
Don      gog
Emma     500
dtype: object

In [4]:
#Aqui, o método .loc é usado para acessar um grupo de linhas e colunas por rótulos ou uma matriz booleana.
oneD.loc[['Cat','Emma']]

Cat     310
Emma    500
dtype: object

In [5]:
#Esta linha seleciona vários elementos da Série usando seus índices.
oneD[[0,3,4]]

C:\Users\lucas.souza\AppData\Local\Temp\ipykernel_1584\3924090658.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  oneD[[0,3,4]]

Amy     100
Don     gog
Emma    500
dtype: object

In [6]:
#.iloc é usado para acessar elementos baseado no seu índice de posição inteiro.
oneD.iloc[1]

'cat'

In [7]:
# Estas linhas verificam se 'cat' e 'Cat' estão presentes na Série. 
#Note que a diferença entre maiúsculas e minúsculas é levada em conta aqui.
'cat' in oneD

False

In [8]:
'Cat' in oneD

True

In [9]:
 #Aqui, um dicionário de Séries é criado.
d = {'A' : pd.Series([100.,200.,300.], index=['Maça','Pera','Laranja']),
     'B' : pd.Series([111.,222.,333.,444.], index=['Maça','Pera','Laranja','Melão'])}
d

{'A': Maça       100.0
 Pera       200.0
 Laranja    300.0
 dtype: float64,
 'B': Maça       111.0
 Pera       222.0
 Laranja    333.0
 Melão      444.0
 dtype: float64}

In [10]:
#Este comando cria um DataFrame a partir do dicionário de Séries
df = pd.DataFrame(d)
print(df)

             A      B
Laranja  300.0  333.0
Maça     100.0  111.0
Melão      NaN  444.0
Pera     200.0  222.0

In [11]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [12]:
df.index

Index(['Laranja', 'Maça', 'Melão', 'Pera'], dtype='object')

In [13]:
df.columns

Index(['A', 'B'], dtype='object')

In [14]:
#Esta linha cria um novo DataFrame a partir do existente, mas apenas com as linhas e colunas especificadas.
pd.DataFrame(df, index=['Laranja','Melão','Maça'], columns=['A'])

             A
Laranja  300.0
Melão      NaN
Maça     100.0