# Exemplo de SÃ©rie Temporal em Python
Prof. Fernando Amaral

In [2]:
from pandas import read_csv
#parse_dates=[0]: Isto indica que a primeira coluna do DataFrame deve ser analisada como uma data
series = read_csv( "../../Dados/female_birth.csv",  parse_dates=[0], index_col=0)
series.head()

            Daily total female births in California, 1959
Date
1959-01-01                                             35
1959-01-02                                             32
1959-01-03                                             30
1959-01-04                                             31
1959-01-05                                             44

In [3]:
#transforma o objeto em uma serie com uma coluna e um indice
series = series.squeeze("columns")
print(type(series))

<class 'pandas.core.series.Series'>

In [4]:
print(series.head())

Date
1959-01-01    35
1959-01-02    32
1959-01-03    30
1959-01-04    31
1959-01-05    44
Name: Daily total female births in California, 1959, dtype: int64

In [5]:
print(series.size)

366

In [6]:
print(series.describe())

count     366.000000
mean       47.218579
std       100.472534
min        23.000000
25%        37.000000
50%        42.000000
75%        46.000000
max      1959.000000
Name: Daily total female births in California, 1959, dtype: float64