# Pré-Processamento de Séries Temporais
Prof. Fernando Amaral

In [1]:
import numpy as np
import pandas as pd

In [2]:
#definido time como index
df = pd.read_csv("italy_earthquakes_from_2016-08-24_to_2016-11-30.csv").set_index("Time")

In [3]:
df.head()

                         Latitude  Longitude  Depth/Km  Magnitude
Time
2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6

In [4]:
df.dtypes

Latitude     float64
Longitude    float64
Depth/Km     float64
Magnitude    float64
dtype: object

In [5]:
df.index.dtype

dtype('O')

In [6]:
#converter indíce para datetime
df.index = pd.to_datetime(df.index)
df.head()

                         Latitude  Longitude  Depth/Km  Magnitude
Time
2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6

In [7]:
df.index.dtype

dtype('<M8[ns]')

In [8]:
df.describe()

          Latitude    Longitude     Depth/Km    Magnitude
count  8086.000000  8086.000000  8086.000000  8086.000000
mean     42.829557    13.161034     9.968328     2.398368
std       0.125927     0.083058     2.194064     0.426381
min      41.581300    12.537700     0.200000     2.000000
25%      42.751350    13.103200     8.900000     2.100000
50%      42.821800    13.160700     9.900000     2.300000
75%      42.911000    13.215650    10.800000     2.600000
max      43.927300    13.852500    47.900000     6.500000