# Estruturas de Dados com Pandas
Prof. Fernando Amaral

In [1]:
import pandas as pd
dict = { 'a' : 3, 'b' : 'cat', 'c': 25}
pd.Series(dict)

a      3
b    cat
c     25
dtype: object

In [2]:
oneD = pd.Series([100, 'cat', 310, 'gog', 500], ['Amy', 'Bobby', 'Cat', 'Don', 'Emma'])
oneD

Amy      100
Bobby    cat
Cat      310
Don      gog
Emma     500
dtype: object

In [3]:
oneD = pd.Series([100, 'cat', 310, 'gog', 500], index = ['Amy', 'Bobby', 'Cat', 'Don', 'Emma'])
oneD

Amy      100
Bobby    cat
Cat      310
Don      gog
Emma     500
dtype: object

In [4]:
oneD.loc[['Cat','Emma']]

Cat     310
Emma    500
dtype: object

In [5]:
oneD[[0,3,4]]

Amy     100
Don     gog
Emma    500
dtype: object

In [6]:
oneD.iloc[1]

'cat'

In [7]:
'cat' in oneD

False

In [8]:
'Cat' in oneD

True

In [9]:
d = {'A' : pd.Series([100.,200.,300.], index=['Maça','Pera','Laranja']),
     'B' : pd.Series([111.,222.,333.,444.], index=['Maça','Pera','Laranja','Melão'])}

In [10]:
df = pd.DataFrame(d)
print(df)

             A      B
Laranja  300.0  333.0
Maça     100.0  111.0
Melão      NaN  444.0
Pera     200.0  222.0

In [11]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [12]:
df.index

Index(['Laranja', 'Maça', 'Melão', 'Pera'], dtype='object')

In [13]:
df.columns

Index(['A', 'B'], dtype='object')

In [14]:
pd.DataFrame(df, index=['Laranja','Melão','Maça'], columns=['A'])

             A
Laranja  300.0
Melão      NaN
Maça     100.0